# Too large
raw_analyst_ratings.csv

# Old unused files
daily_sentiment_scores.csv
finbert_sentiment_scores.csv
lagged_sentiment_dataset.csv
rolling_average_dataset.csv
stock_prices.csv
vader_sentiment_scores.csv

# Mac junk
.DS_Store
src/.DS_Store

# Python
__pycache__/
*.pyc
.venv/

# Environment
.env
